/* メディアクエリ */
/* スマホサイズ（600px以下） */

@media (max-width: 600px) {
    html{
      font-size: 18px; /* 基本フォントサイズ */
    }
    .container{
      gap:0px;
      width: calc(100vw - 150px);
      justify-content: center;

    }
    .sidebar {
      font-size: 0.8rem;
      padding: 20px 8px 80px 8px;
      gap: 40px;
      width: 150px;
    }
    .sidebar-top{
      gap: 20px;
    }
    .stopwatch-display {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      letter-spacing: 0.5rem;
    }
    .timeimages{
      margin: -4px;
    }
    .unit{
      margin: -8px;

    }
    .logo{
      width:60px;
    }
    .time {
      flex-direction: column;
      gap:0px;
    }
    .time-box{
      gap:0px;
    }
    .delete-btn {
      margin-top: 0px;
      transform: translate(0.2rem,0);
    }
    
    .adjust-select-buttons{
      display: none;
    }
    .start-btn-area {
      width:110px;
      height: 110px;
    }
    
    #start-stop-btn,.adjust-btn {
      width: 110px;
      height: 110px;
    }

    #start-stop-btn:hover,.adjust-btn:hover{
      width: 110px;
      height: 110px;
    }
    .adjust-buttons{
      justify-content: center;
      flex-wrap: wrap;
      gap:2px;
      /* transform: translateY(-100px); */
      /* gap:1px; */
    }
    
  }
  