
img {
  width:40px;
  /* display: inline-block; */
}
.timeimages{
  display: flex;
  gap:10px;
}

html{
  font-size: 24px; /* 基本フォントサイズ */
}

body {
  font-family: 'Noto Sans', sans-serif;
  /* font-family: 'gam', sans-serif; */

  color: var(--light-text);
  height: 100vh;
  margin: 0;
  font-weight: 300;
  flex: none;
}
.jump{
  position: fixed;
  bottom:8px;
  left:8px;
  display: flex;
  gap:10px;
  font-size: 0.8rem;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
ロゴ、タイトル
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.logo {
  width: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.title {
  margin-bottom: 20px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
ストップウォッチ
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


.container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 200px;

}

.stopwatch-display {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.5rem;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}


.time-box {
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  gap: 30px;
}


/* 区切り戦＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
#divider {
  font-size: 2.5rem;
  transform: translate(0, -35px);
}

/* 単位＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.unit {
  letter-spacing: 0.1rem;
  font-weight: 400;
  opacity: 0.5;
  font-size: 0.9rem;
  /* transform: translate(-0.3rem); */
}

/* リセット時のアニメーション＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
#stopwatch-display.move {
  position: relative;
  animation: moveLeft 0.2s forwards;
}

@keyframes moveLeft {
  0% {
    left: 0;
  }

  50% {
    left: -40px;
  }

  100% {
    left: 0;
  }
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
スタートボタン
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.start-btn-area {
  margin:0 auto;
  width:100vw;
  height: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
}

#start-stop-btn {
  width: 180px;
  height: 180px;
  transition: all 0.15s;
  background-color: var(--trans-white);
  border-radius: 100px;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  box-shadow: var(--box-shadow-value);
}

#start-stop-text {
  transform: translate(0.15rem, 0);
}


#start-stop-btn:hover {
  width: 190px;
  height: 190px;
  background-color: var(--trans-white);

}

#start-stop-btn:active,#start-stop-btn.active {
  width: 200px;
  height: 200px;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
リセットボタン
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.delete-btn {
  font-size: 1rem;
  visibility: hidden;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 60px;
  letter-spacing: 0.2rem;
  margin-top: 50px;
  transform: translate(0.2rem,0);
  font-weight: 200;
}
@media (max-width: 600px) {
  .time {
    flex-direction: column;
    gap:40px;
  }
  .container{
    gap:100px;
  }
  .time-box{
    gap:10px;
  }
  .delete-btn{
    transform: translate(-0.3rem,0);
  }
  #divider{
    display: none;
  }
}